<div class="row" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h1 class="text-center">翻译</h1>

  <div class="jumbotron">
    <%= form_for(:translation, url: translations_path, method: "post") do |f| %>
        <div class="input-group input-group-lg">
          <%= f.text_field :trans, class: "form-control", placeholder: "Trans",
                           value: (@translation.trans_name if @translation && @translation.trans_name) %>
          <span class="input-group-btn">
      <%= f.submit "搜索", class: "btn btn-default btn-lg" %>
      </span>
        </div>
    <% end %>
    <script type="text/javascript" language="javascript">
        $('#translation_trans').select();
    </script>
  </div>
  <% if @translation %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="container">
            <% if @translation.trans_translation %>
                <div class="row">
                  <div class="col-md-3"><h3 class="text-center text-primary">翻译:</h3></div>
                  <div class="col-md-9">
                    <% @translation.trans_translation.each do |translation| %>
                        <p class="lead"><%= translation %></p>
                    <% end %>
                  </div>
                </div>
            <% end %>
            <% if @translation.trans_explains %>
                <hr/>
                <div class="row">
                  <div class="col-md-3"><h3 class="text-center text-primary">解析:</h3></div>
                  <div class="col-md-9">
                    <% @translation.trans_explains.each do |explain| %>
                        <p class="lead"><%= explain %></p>
                    <% end %>
                  </div>
                </div>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>

