<h1 class="text-center">ALERT</h1>
<div class="row">
  <div class="col-xs-12">
    <% if @alert_items && @alert_items.size>0 %>
        <div class="panel panel-default" id="accordion" role="tablist" aria-multiselectable="true">
          <% @alert_items.each do |alert_item| %>
              <div class="container-fluid panel-heading">
                <div class="row">
                  <div class="col-xs-6">
                    <h4>

                      <a href="#collapse<%= alert_item.id %>" data-toggle="collapse" aria-controls="collapse<%= alert_item.id %>">
                        <%= alert_item.remember_item.remember.to_translation.trans_name %>
                      </a>
                    </h4>
                    </div>
                    <div class="col-xs-6">
                      <div class="btn-group row pull-right">
                        <a href="#collapse<%= alert_item.id %>" data-toggle="collapse" class="btn btn-warning" >
                          <span class="glyphicon glyphicon-arrow-down"></span><strong>偷看</strong>
                        </a>
                        <%= link_to  alerts_miss_path(alert_id:alert_item.id),class:"btn btn-danger"  do%>
                        <strong>忘记</strong>
                        <%end%>
                        <%= link_to alerts_take_path(alert_id:alert_item.id),{class:"btn btn-success"} do%>
                        <strong>记得</strong>
                        <%end%>
                      </div>
                  </div>
                </div>
              </div>
              <div id="collapse<%= alert_item.id %>" class="panel-body collapse " role="tabpanel" aria-labelledby="headingOne">

                <% translation=alert_item.remember_item.remember.to_translation %>
                <% if translation %>
                    <div class="container">
                      <% if translation.trans_translation %>
                          <div class="row">
                            <div class="col-md-3"><h3 class="text-center text-primary">翻译:</h3></div>
                            <div class="col-md-9">
                              <% translation.trans_translation.each do |translation_t| %>
                                  <p class="lead"><%= translation_t %></p>
                              <% end %>
                            </div>
                          </div>
                      <% end %>
                      <% if translation.trans_explains %>
                          <hr/>
                          <div class="row">
                            <div class="col-md-3"><h3 class="text-center text-primary">解析:</h3></div>
                            <div class="col-md-9">
                              <% translation.trans_explains.each do |explain| %>
                                  <p class="lead"><%= explain %></p>
                              <% end %>
                            </div>
                          </div>
                      <% end %>
                    </div>

                <% end %>
              </div>
          <% end %>
        </div>
    <% else %>
        </div>
        <div class="jumbotron">
          <h1 class="text-center">没有新提醒</h1>
        </div>
    <% end %>
    </div>

